/node_modules
/public/hot
/public/storage
/vendor

/storage/*
!/storage/app/public   

.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage

/.env
.env.*

config/database.php